ion-content {
  --ion-background-color: #1E2956;
  color: #5BD376;
}

.Profile-tittle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  color: #5BD376;
}

.Profile-image {
  display: block;
  margin: 0 auto;
}

ion-item {
  color: #5BD376;

}

.margin {
  margin: 20px;

}

.margin-top {
  margin-top: 100px;
}

// .margin{
//     margin-right: auto;
//     margin-left: auto;
// }
