<ion-content>

  <ion-grid>
    <!-- primera card -->
    <ion-row>
      <ion-col>

        <div id="Primer">
          <ion-card class="card1" color="primary" (click)="client()">
            <!-- imagen -->
            <img class="img_sad margin" src="../../assets/img/sad .png" />
            <!-- titulo -->
            <div class="margin">
              ¿Necesitas Ayuda?
            </div>
          </ion-card>
        </div>

      </ion-col>
    </ion-row>

    <!-- Segunda card -->
    <ion-row>
      <ion-col>
        <ion-card class="card2" (click)="worker()">
          <!-- imagen -->
          <img class="img_proveedor margin" src="../../assets/img/Man 11.png" />
          <!-- titulo -->
          <div class="margin text">
            ¿Quieres proveer un servicio?
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
