<ion-content>

  <div class=" margin ">
    <img src="../../assets/img/Don_Angel_Logo_Smartphone.png" alt="Logo_app">


    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4">
          <div>
            <ion-button href="/signin" color="success">Sign In</ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="4">
          <div>
            <ion-button href="/login" color="secondary">Log In!!</ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>


</ion-content>