<ion-content>
  <section>
    <h5>Como podemos Ayudarte?</h5>
  </section>

  <section>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="alba" (click)="albanil()">
            <div class="text">
              Albañileria
            </div>
            <div>
              <img class="img" src="../../assets/img/bricklayer.png" alt="bricks">
            </div>

          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card id="ceramica" (click)="ceramica()">
            <div class="text">
              Ceramica
            </div>
            <div>
              <img class="img" src="../../assets/img/porcelain.png" alt="pottery">
            </div>

          </ion-card>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card id="elec" (click)="electric()">

            <div class="text">
              Electricista
            </div>
            <div>
              <img class="img" src="../../assets/img/outlet (1).png" alt="electrcian">
            </div>

          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card id="plumber" (click)="plumber()">

            <div class="text">
              Plomeria
            </div>
            <div>
              <img class="img" src="../../assets/img/leak.png" alt="plumber">
            </div>
          </ion-card>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card id="wood" (click)="carpenter()">

            <div class="text">
              Carpinteria
            </div>
            <div>
              <img class="img" src="../../assets/img/woodworking.png" alt="woodwork">
            </div>

          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card id="dispo" (click)="devices()">
            <div class="text">
              Dispositivos
            </div>
            <div>
              <img class="img" src="../../assets/img/computer.png" alt="devices">
            </div>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </section>

</ion-content>
