h5 {
    margin-top: 50px;
    margin-left: 45px;

}


.text {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #F4F1ED;
}

.alba {
    background-color: #00C9F3;
}

#elec {
    background-color: #5BD376;
}

#ceramica {
    background-color: #FF4E36;

}

#plumber {
    background-color: #5370EA;
}

#wood {
    background-color: #FF8A36;
}

#dispo {
    background-color: #F8CA01;
}

.img {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-bottom: 5px;
}