<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/albanil"></ion-back-button>

      <div text-center>
        <ion-title>Nombre_Trabajador</ion-title>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Profile  -->
  <!-- <div class="Profile-tittle"> -->
  <!-- Aqui nombre de trabajador -->
  <!-- <h2>Juan Perez</h2>
  </div> -->

  <!-- Profile Pic -->
  <div>
    <!-- aqui ponemos la imagen de nuestro trabajador -->
    <img class="Profile-image  " src="../../assets/img/user.jpg" alt="Profile_Pic">
  </div>


  <!-- estrellas -->
  <div class="row">
    <div class="block">
      <!-- //rating de cuantas estrellas -->
      <img class="rating" src="../../assets/img/star (2).png" alt="star">

    </div>
    <div class="block">
      <!-- //rating de cuantas estrellas -->
      <img class="rating" src="../../assets/img/star (2).png" alt="star">

    </div>
    <div class="block">
      <!-- //rating de cuantas estrellas -->
      <img class="rating" src="../../assets/img/star (2).png" alt="star">

    </div>
    <div class="block">
      <!-- //rating de cuantas estrellas -->
      <img class="rating" src="../../assets/img/star (2).png" alt="star">

    </div>
    <div class="block">
      <!-- //rating de cuantas estrellas -->
      <img class="rating" src="../../assets/img/star (2).png" alt="star">
      <hr>
    </div>
    <!-- Habilidades -->
  </div>
  <div class="habi">
    <h4>Habilidades</h4>
  </div>

  <!-- Aqui van sus habilidades -->
  <div>
    <div class="bloque">
      <div class="item">
        <img src="../../assets/img/shield.png" alt="check">
      </div>
      <div class="item">
        Habilidad_1
      </div>
    </div>
  </div>

  <div>
    <div class="bloque">
      <div class="item">
        <img src="../../assets/img/shield.png" alt="check">
      </div>
      <div class="item">
        Habilidad_2
      </div>
    </div>
  </div>

  <div>
    <div class="bloque">
      <div class="item">
        <img src="../../assets/img/shield.png" alt="check">
      </div>
      <div class="item">
        Habilidad_3
      </div>
    </div>
  </div>


  <div>
    <div class="price">
      Precio de visita:
    </div>

    <div class="precio">
      20.00$
    </div>

    <div class="texto">
      Esto incluye: Diagnostico, arreglos minimos y rapidos,
      etc.
      No incluye trabajos extensos, remodelaciones y
      materiales extra.

    </div>
  </div>

  <div>
    <div class="habi">
      <h4>Comentarios</h4>
    </div>
    <!-- Comentario1 -->
    <div>
      <div class="coments">
        Comentario
      </div>
      <div class="text_comment">
        Este trabajador estuvo muy bien!!
      </div>

    </div>
    <!-- Comentario2 -->
    <div>
      <div class="coments">
        Comentario
      </div>
      <div class="text_comment">
        Este trabajador estuvo muy bien!!
      </div>
    </div>
    <!-- Comentario3 -->
    <div>
      <div class="coments">
        Comentario
      </div>
      <div class="text_comment">
        Este trabajador estuvo muy bien!!
      </div>
    </div>
  </div>

  <div>
    <ion-button class="boton" fill="solid" expand="block" color="success" (click)="hire()">Contratar</ion-button>
  </div>

</ion-content>
